# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

pool:
  vmImage: ubuntu-latest

variables:
- name: buildConfiguration
  value: 'Release'

stages:
- stage: A
  jobs:
  - job: A1
    steps:
    - script: |
          tt =$(az pipelines runs artifact list --run-id 91 --org 'https://dev.azure.com/v-wexu0720/' --project 'Test' --query "[].name[1]")
          echo $(tt)
      env:
        AZURE_DEVOPS_EXT_PAT: $(System.AccessToken)
    #     echo `date +%Y-%m-%d-%H-%M-%S`
    #     dotnet build --configuration $(buildConfiguration)
    #   displayName: 'dotnet build $(buildConfiguration)'
    # - bash: |
    #     cd '/home/vsts/work/1/s/bin/Release/net6.0'
    #     echo $(System.JobAttempt) > temp.json
    #   displayName: Create new file   
    # - bash: |
    #     cd '/home/vsts/work/1/s/bin/Release/net6.0'
    #     rm 'appsettings.json'
    #     exit 1
    #   condition: ne(variables['System.JobAttempt'], '3')
    #   displayName: Fail build if partially successful   
    # - bash: |
    #     newValue="Succeeded"
    #     echo "##vso[task.setvariable variable=status;]$newValue"
    #   displayName: Succeed
    #   condition: succeeded()
    # - bash: |     
    #     newValue="Failed"
    #     echo "##vso[task.setvariable variable=status;]$newValue"
    #   displayName: Fail
    #   condition: failed() 
    # - bash:
    #     echo $(status)
    #   displayName: 'echo $(status)'
    #   condition: succeededOrFailed()   
    # - publish: '/home/vsts/work/1/s/bin/Release/net6.0'
    #   artifact: $(Agent.JobName)_BuildLogs_Artifact$(System.JobAttempt)
    #   displayName: Publish BuildLogs
    #   continueOnError: true
    #   condition: succeededOrFailed()
